body {
  margin: 0;
  padding: 0;
  font-family: Trajan_regular;
  /* overflow-x: hidden; */
  scrollbar-color: black;
  background-color: black;
  font-family: Perpetua;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor.cur), auto;
}

.logo {
  width: 40px;
  margin-right: 15px;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/dirtmouth_backgound.jpg);
  background-size: cover;
}

.simulador {
  background-image: url(../assets/images/Godhome_Arena_Absolute_Radiance_Phase_6.png);
  /* height: 100vh; */
  width: 100%;
  height: 100%;
}

select {
  width: 30%;
  background-color: grey;
  display: flex;
  justify-content: center;
  font-family: Perpetua;
  color: white;
  border-radius: 0%;
}

option {
  font-family: Perpetua;
  list-style: none;
}

.simulador .main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 50px; */
}

.div_variaveis {
  height: auto;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

#img_nail {
  height: 150px;
}

.box_nail {
  width: 150px;
  height: 150px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor09.cur), auto;
}

.simulador {
  font-family: Perpetua;
  font-size: 19px;
  color: white;
}

.simulador .header {
  font-size: 16px;
}

.simulador .containerA {
  width: 200px;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.simulador .containerB1 {
  width: 450px;
  height: 137.5px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.simulador .containerB2 {
  width: 450px;
  height: 137.5px;
  margin-top: 25px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#div_descricao_amuleto {
  margin-left: 15px;
  margin-right: 15px;
}

.conjunto_amuletos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.img_amuleto {
  width: 50px;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor09.cur), auto;
}

.simulador .containerC {
  width: 180px;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.simulador .area_respostas {
  width: 1400px;
  height: 300px;
  /* background-color: rgba(0,0,0,0.8); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  font-size: 20px;
}

#box1 {
  margin-left: 0;
}

#box5  {
  margin-right: 0;
}

.simulador .containerD {
  width: 270px;
  margin-left: 25px;
  margin-right: 25px;
  height: 250px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.titulo_box {
  font-size: 16px;
  font-family: Trajan_Regular;
  display: flex;
  width: 220px;
  text-align: center;
}

.simulador .div_botao {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_img_magia {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor09.cur), auto;
}

.blackout {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.titulo { /* Título do site */
  font-size: 40px;
  font-family: Trajan_Regular;
  margin-left: 40px;
}

.main .titulo { /* Título do site */
  font-size: 30px;
  font-family: Trajan_Regular;
  margin-left: 0px;
}

/* Header */

.header { /* Estilização de fundo na navbar */
  width: 100%;
  height: 10%;
  background-color: black;
  border-bottom: solid black 2px;
  font-family: Trajan_Regular;
}

.navbar { /* Segregação de conteudo na navbar */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.titulo { /* Título do site */
  font-size: 40px;
  font-family: Trajan_Regular;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar .lista { /* Lista de opções (início, cadastro, etc */
  display: flex;
  list-style: none;
  margin-right: 40px;
  width: 700px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.lista   a:hover {
  font-size: 18px;
}

.navbar .listaVoltar {
  display: flex;
  list-style: none;
  margin-right: 40px;
  width: 500px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.listaVoltar a:hover {
  font-size: 43px;
}

.main {
  display: flex;
  height: 800px;
  justify-content: space-around;
  align-items: center;
}

button { /* Customização dos botões */
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  font-family: Trajan_regular;
  font-size: 20px;
  border: 1px solid #a3aab0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), auto;
}

button:hover {
  height: 55px;
  width: 155px;
}

.inicio .container {
  width: 280px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,0.5) ;
  margin: 10px;
}

.inventario {
  background-image: url(../assets/images/Deepnest_Hot_Spring.png);
  height: 100vh;
}

.inventario .h1 {
  font-size: 30px;
  font-family: Trajan_Regular;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inventario .container {
  width: 100%;
  display: flex;
  height: fit-content;
  margin-top: 25px;
  justify-content: space-around;
  font-size: 24px;
}

.inventario .box {
  width: 200px;
  height: 250px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inventario .box .bottom_dialogue {
  width: 80%;
}

.inventario .box .top_dialogue {
  width: 80%;
}

.inventario img {
  width: 100px;
}

.inventario .toggleContent {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor05.cur), auto;
}

.inventario .box_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.inventario .box_text {
  height: 56px;
  margin-top: 20px;
}

.inventario .div_botoes {
  height: 150px;
  width: 180px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saiba_mais_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.saiba_mais_box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.saiba_mais_imagem {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saiba_mais_imagem img {
  width: 150px;
  
}

.saiba_mais_txt {
  text-align: center;
  font-family: Perpetua;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  width: 800px;
}

a {
  color: white;
  text-decoration: none;
  font-family: Trajan_Regular;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), none;
}

.buttons {
  width: 100px;
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
}

.button { /* Customização dos botões */
  height: 4vh;
  width: 100px;
  background-color: black;
  color: white;
  font-family: Trajan_regular;
  font-size: 19px;
  border: 1px solid #a3aab0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), auto;
}

.button:hover {
  height: 4.5vh;
  width: 110px;
  font-size: 21px;
}

.img_inicio {
  width: 170px;
  border: 2px solid black;
}

/* HALLOWNEST */

.hallownest {
  background-image: url(../assets/images/Screenshot_HK_Dirtmouth_10.png);
}

.hallownest .main {
  display: flex;
  flex-direction: column;
}

.hallownest .map {
  width: 1000px;
  height: 651px;
}

.hallownest .container {
  /* background-color: rgba(0,0,0,0.5); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 750px;
}

area {
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), auto;
}

.top_dialogue {
  width: 50%;
}

.bottom_dialogue {
  width: 50%;
}

.containerA .top_dialogue {
  width: 80%;
}

.containerA .bottom_dialogue {
  width: 80%;
}

.containerC .top_dialogue {
  width: 80%;
}

.containerC .bottom_dialogue {
  width: 80%;
}

.containerD .top_dialogue {
  width: 80%;
}

.containerD .bottom_dialogue {
  width: 80%;
}


.inicio .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

/* IMAGENS DE FUNDO DE CADA ÁREA */

/* .area .main {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
} */

.dirtmouth {
  background-image: url(../assets/images/dirtmouth_backgound.jpg);
  height: 100vh;
}

.forgotten_crossroads {
  background-image: url(../assets/images/Screenshot_HK_Forgotten_Crossroads_01.png);
  height: 100vh;
}

.greenpath {
  background-image: url(../assets/images/area/Screenshot_HK_Greenpath_01.png);
  height: 100vh;
}

.fungal_wastes {
  background-image: url(../assets/images/area/Screenshot_HK_Fungal_Wastes_05.png);
  height: 100vh;
}

.crystal_peaks {
  background-image: url(../assets/images/area/Screenshot_HK_Crystal_Peak_10.png);
  height: 100vh;
}

.city_of_tears {
  background-image: url(../assets/images/area/Screenshot_HK_City_of_Tears_01.png);
  height: 100vh;
}

.resting_grounds {
  background-image: url(../assets/images/area/Screenshot_HK_Dreamers_08.png);
  height: 100vh;
}

.royal_waterways {
  background-image: url(../assets/images/area/Screenshot_HK_Royal_Waterways_01.png);
  height: 100vh;
}

.kingdoms_edge {
  background-image: url(../assets/images/area/Screenshot_HK_Kingdoms_Edge_06.png);
  height: 100vh;
}

.fog_canyon {
  background-image: url(../assets/images/area/Screenshot_HK_Husk_Guard_03.png);
  height: 100vh;
}

.howling_cliffs {
  background-image: url(../assets/images/area/Screenshot_HK_Howling_Cliffs_03.png);
  height: 100vh;
}

.queens_gardens {
  background-image: url(../assets/images/area/Screenshot_HK_Queens_Gardens_06.png);
  height: 100vh;
}

.deepnest {
  background-image: url(../assets/images/area/Screenshot_HK_Deepnest_01.png);
  height: 100vh;
}

.hive {
  background-image: url(../assets/images/area/Screenshot_HK_Hive_06.png);
  height: 100vh;
}

.ancient_basin {
  background-image: url(../assets/images/area/Screenshot_HK_Ancient_Basin_07.png);
  height: 100vh;
}

.area_container {
  width: 850px;
  height: 450px;
  background-color: rgba(0,0,0,0.8);
  align-self: center;
  margin-top: 100px ;
  padding:  3px 15px 3px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top_content {
  display: flex;
  justify-content: space-around;
  font-family: Perpetua;
  width: 100%;
  height: 150px;
}

.text_area {
  font-size: 20px;
  color: white;
  text-align: left;
  height: 150px;
  /* display: flex; */
  text-justify: center;
}

.dialogue {
  width: 255px;
}

.estatisticas {
  background-image: url(../assets/images/Screenshot_HK_Cornifer_06.png);
}

.estatisticas .container {
  width: 90%;
  border: white solid 1px;
  height: 700px;
  background-color: rgba(0,0,0,0.7);
}

.estatisticas .barrinha {
  height: 10%;
  width: 100%;
  display: flex;
}

.estatisticas .barrinha button {
  width: 33.333%;
  height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.estatisticas .content {
  height: 90%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.estatisticas #div_inventario {
  display: none;
}

.estatisticas #div_jogo {
  display: none;
}

.estatisticas #div_minha {
  display: none;
}

.estatisticas #card {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
}

.estatisticas .content .half_content {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.estatisticas .container .titulo {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.estatisticas .grafico_1 {
  height: 400px;
  width: 400px;
}

.estatisticas .grafico_2 {
  height: 200px;
  width: 100%;
}

.estatisticas .half_content .double {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.estatisticas .half_content .mini_wide {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estatisticas .box_doubles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.estatisticas .titulo2 {
  height: 120px;
  width: 100%;
  font-size: 25px;
  font-family: Trajan_Regular;
  text-align: center;
}

.estatisticas .grafico_3 {
  height: 600px;
  width: 1200px;
}

.estatisticas .grafico_5 {
  height: auto;
  width: 500px;
}

.estatisticas .jogoDoubles {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text_box {
  font-size: 20px;
  width: 400px;
  text-align: center;
}

@font-face { /* Fonte de Hollow Knight */
  font-family: Trajan_Regular;
  src: url(../assets/fonts/Trajan_Regular.ttf);
}

@font-face {
  font-family: Perpetua;
  src: url(../assets/fonts/Perpetua.ttf);
}