body {
  margin: 0;
  padding: 0;
  font-family: Trajan_regular;
  /* overflow-x: hidden; */
  scrollbar-color: black;
  background-color: black;
  font-family: Perpetua;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor.cur), auto;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/images/dirtmouth_backgound.jpg);
  background-size: cover;
}

.simulador {
  background-image: url(../assets/images/Godhome_Arena_Absolute_Radiance_Phase_6.png);
  height: 100vh;
}

select {
  width: 30%;
  background-color: grey;
  display: flex;
  justify-content: center;
  font-family: Perpetua;
  color: white;
  border-radius: 0%;
}

option {
  font-family: Perpetua;
  list-style: none;
}

.simulador .main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 50px; */
}

.div_variaveis {
  height: auto;
  width: 1500px;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#img_nail {
  height: 150px;
}

.box_nail {
  width: 150px;
  height: 150px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor09.cur), auto;
}

.simulador {
  font-family: Perpetua;
  font-size: 19px;
  color: white;
}

.simulador .header {
  font-size: 16px;
}

.simulador .containerA {
  width: 200px;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.simulador .containerB1 {
  width: 450px;
  height: 137.5px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.simulador .containerB2 {
  width: 450px;
  height: 137.5px;
  margin-top: 25px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#div_descricao_amuleto {
  margin-left: 15px;
  margin-right: 15px;
}

.conjunto_amuletos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.img_amuleto {
  width: 50px;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor09.cur), auto;
}

.simulador .containerC {
  width: 200px;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.simulador .containerD {
  width: 1450px;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

.simulador .div_botao {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_img_magia {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor09.cur), auto;
}

.blackout {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.titulo { /* Título do site */
  font-size: 40px;
  font-family: Trajan_Regular;
  margin-left: 40px;
}

.main .titulo { /* Título do site */
  font-size: 30px;
  font-family: Trajan_Regular;
  margin-left: 0px;
}

/* Header */

.header { /* Estilização de fundo na navbar */
  width: 100%;
  height: 10%;
  background-color: black;
  border-bottom: solid black 2px;
  font-family: Trajan_Regular;
}

.navbar { /* Segregação de conteudo na navbar */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.titulo { /* Título do site */
  font-size: 40px;
  font-family: Trajan_Regular;
  margin-left: 40px;
}

.navbar .lista { /* Lista de opções (início, cadastro, etc */
  display: flex;
  list-style: none;
  margin-right: 40px;
  width: 500px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.lista   a:hover {
  font-size: 18px;
}

.main {
  display: flex;
  height: 800px;
  justify-content: space-around;
  align-items: center;
}

button { /* Customização dos botões */
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  font-family: Trajan_regular;
  font-size: 20px;
  border: 1px solid #a3aab0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), auto;
}

button:hover {
  height: 55px;
  width: 155px;
}

.inicio .container {
  width: 280px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,0.5) ;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-family: Trajan_Regular;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), none;
}

.buttons {
  width: 100px;
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
}

.button { /* Customização dos botões */
  height: 4vh;
  width: 100px;
  background-color: black;
  color: white;
  font-family: Trajan_regular;
  font-size: 19px;
  border: 1px solid #a3aab0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(../assets/images/Hollow_Knight_Cursor/cursor03.cur), auto;
}

.button:hover {
  height: 4.5vh;
  width: 110px;
  font-size: 21px;
}

.img_inicio {
  width: 170px;
  border: 2px solid black;
}

.top_dialogue {
  width: 50%;
}

.bottom_dialogue {
  width: 50%;
}

.containerA .top_dialogue {
  width: 80%;
}

.containerA .bottom_dialogue {
  width: 80%;
}

.containerC .top_dialogue {
  width: 80%;
}

.containerC .bottom_dialogue {
  width: 80%;
}

.inicio .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}

@font-face { /* Fonte de Hollow Knight */
  font-family: Trajan_Regular;
  src: url(../assets/fonts/Trajan_Regular.ttf);
}

@font-face {
  font-family: Perpetua;
  src: url(../assets/fonts/Perpetua.ttf);
}