body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    cursor: url(../../assets/images/Hollow_Knight_Cursor/cursor.cur), auto;
    overflow-y: hidden;

}

.main {
    background-image: url(../../assets/images/area/Screenshot_HK_Hornet_Sentinel_04.png);
    background-size: cover;
    width: 80%;
    height: 702px;
}

.informacoes {
    width: 20%;
    height: 702px;
    background-color: blue;
}

.style_knight {
    height: 100px  ;
}

.style_hornet {
    height: 170px;
}

#div_knight {
    top: 510px;
    left: 140px;
    width: 85px;
    height: 130px;
    position: absolute;
}

#div_hornet {
    top: 460px;
    left: 900px;
    width: 85px;
    height: 130px;
    position: absolute;
}

#fireball {
    width: 85px;
    height: 130px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_swing {
    /* width: 85px; */
    /* height: 130px;; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#span {
    font-family: Perpetua;
}

#botao_comecar {
    display: none;
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    font-family: Trajan_Regular;
    font-size: 20px;
    border: 1px solid #a3aab0;
    cursor: pointer;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: url(../../assets/images/Hollow_Knight_Cursor/cursor03.cur), auto;
}

.flip {
    transform: scaleX(-1);
}

@font-face { /* Fonte de Hollow Knight */
    font-family: Trajan_Regular;
    src: url(../../assets/fonts/Trajan_Regular.ttf);
}
  
@font-face {
    font-family: Perpetua;
    src: url(../../assets/fonts/Perpetua.ttf);
}

.dialogue {
    width: 50%;
}
